<div id="edit-relationships" class="narrow text-center">
  <h1>
    Trust
  </h1>
  <div id="relationship-list">
    <%= render partial: "relationships/relationship_list", locals: {relationships: @character.relationships}%>
  </div>
  <%= form_for [@character, @relationship], remote:true do |f|%>
    <p>
      Take the turns asking the others questions until you've assigned trust
      with everyone.
    </p>
    <p>
      Which of you...
    </p>
    <div id="trust-questions-list" class="checklist">
      <% @character.archetype.trust_questions.each do |q| %>
        <div id="trust-question-<%=q.id%>">
          <%= f.radio_button :trust_question_id, q.id, class: "trust-question"%>
          <%= f.label "trust_question_id_" + q.id.to_s, "... #{q.question}", class: "under-check trust-question-label" %>
        </div>
      <% end %>
    </div>
    <div id="trust-enter-name" class="text-field">
      <%= f.text_field :name, id: "trust-name" %>
      <%= f.submit ">", id: "submit-button", class:"submit" %>
    </div>
  <% end %>
  <div>
    <%= link_to "Continue", @character, class: "slide under", id: "relationships-done" %>
  </div>
</div>
