<div class="narrow" id="edit-move">
  <h1>
    Edit Move
  </h1>
  <%= form_for [@move], remote: true do |f| %>
    <% if @move.def_move && @move.def_move.free %>
      <% if @move.def_move.options_selectable %>
      <% options = @move.def_move.options_selectable %>
      <% else %>
      <% options = 0 %>
      <% end %>
      <div class="check-title-free move" data-options='<%= options %>'>
        <%= f.radio_button "def_move_id", @move.def_move_id %>
        <% move_class = "under-check-free move-name #{@move.def_move.stat ? @move.def_move.stat : 'nostat'} "%>
        <%= f.label "def_move_id_#{@move.def_move_id}", @move.def_move.name, class: move_class %>
        <div class="body">
          <%= parsemove(@move.def_move.body).html_safe %>
        </div>
      </div>
    <% elsif @move.improvement and @move.improvement.def_improvement.value == "other" %>
      <% Archetype.where.not(id: @move.character.archetype_id).order(:name).each do |a| %>
        <h1> <%=a.name%> </h1>
        <% a.def_moves.order(:id).each do |dm| %>
          <%= render partial: "selectable", locals: {dm: dm, f: f} %>
        <% end %>
      <% end %>
    <% else %>
      <% @move.character.archetype.def_moves.order(:id).each do |dm| %>
        <%= render partial: "selectable", locals: {dm: dm, f: f} %>
      <% end %>
    <% end %>
    <%= f.submit ">", class: "submit" %>
  <% end %>
</div>
