<div class="narrow" id="edit-move">
  <h1>
    Edit Move
  </h1>
  <%= form_for [@move], remote: true do |f| %>
    <% if @move.def_move && @move.def_move.free %>
      <div class="check-title-free">
        <%= f.radio_button "def_move_id", @move.def_move_id %>
        <% move_class = "under-check-free #{@move.def_move.stat ? @move.def_move.stat : 'nostat'} "%>
        <%= f.label "def_move_id_#{@move.def_move_id}", @move.def_move.name, class: move_class %>
        <div class="body">
          <%= parsemove(@move.def_move.body).html_safe %>
        </div>
      </div>
    <% else %>
      <% @move.character.archetype.def_moves.where(free: false).each do |dm| %>
        <% if dm == @move.def_move || !@move.character.moves.exists?(def_move_id: dm.id) %>
          <div class="check-title">
            <%= f.radio_button "def_move_id", dm.id %>
            <% move_class = "under-check #{dm.stat ? dm.stat : 'nostat'} "%>
            <%= f.label "def_move_id_#{dm.id}", dm.name, class: move_class %>
            <div class="body">
              <%= parsemove(dm.body).html_safe %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= f.submit ">", class: "submit" %>
  <% end %>
</div>
