<div class="move">
  <p>
    <span class="name <%=move.def_move.stat ? move.def_move.stat : "nostat"%>">
      <%= move.def_move.name %>:
    </span>
    <%= parsemove(move.def_move.body)[3..-1].html_safe %>
  <!-- </p> %% this is covered by the move body -->
  <% move.def_move.def_move_fields.each do |dmf| %>
    <% if dmf.creatable %>
      <div>
        <div class="move-fields">
          <% MoveField.where(move: move, def_move_field: dmf).all.each do |f| %>
            <%= render f %>
          <% end %>
          <%= button_to "+", new_move_move_field_path(move_id: move.id, def_move_field: dmf), method: :get, remote: true, class: "field button move-field-add" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="move-fields">
    <% move.move_fields.each do |f| %>
      <% unless f.def_move_field.creatable %>
        <div class="field">
          <%= f.def_move_field.name.capitalize%>: <%= f.text %>
        </div>
      <% end %>
    <% end %>
    <% move.move_options.each do |o| %>
      <div class="field">
        <%= o.def_move_option.option %>
      </div>
    <% end %>
    <% if move.def_move.has_description %>
      <div class="field">
        <%= move.description %>
      </div>
    <% end %>
  </div>
</div>
