<h1>
  Dire Fates
</h1>
<h2 id="archetype" class="bar">
  <span class="title">
    First Peril:
  </span>
</h2>
<div class="checklist dire-fates">
  <% dire_fates.joins(:def_dire_fate).where(def_dire_fates: {peril: 1}).order(:id).each do |df| %>
    <%= render df %>
  <% end %>
</div>
<h2 id="archetype" class="bar">
  <span class="title">
    Second Peril:
  </span>
</h2>
<div class="checklist dire-fates">
  <% dire_fates.joins(:def_dire_fate).where(def_dire_fates: {peril: 2}).order(:id).each do |df| %>
    <%= render df %>
  <% end %>
</div>
<% if @character.archetype == Archetype.find_by(name: "Warrior") %>
  <h2 id="archetype" class="bar">
    <span class="title">
      Third Peril:
    </span>
  </h2>
  <div class="checklist dire-fates">
    <% dire_fates.joins(:def_dire_fate).where(def_dire_fates: {peril: 3}).order(:id).each do |df| %>
      <%= render df %>
    <% end %>
  </div>
  <h2 id="archetype" class="bar">
    <span class="title">
      Final Peril:
    </span>
  </h2>
  <div class="checklist dire-fates">
    <% dire_fates.joins(:def_dire_fate).where(def_dire_fates: {peril: 4}).order(:id).each do |df| %>
      <%= render df %>
    <% end %>
  </div>
<% else %>
  <h2 id="archetype" class="bar">
    <span class="title">
      Final Peril:
    </span>
  </h2>
  <div class="checklist dire-fates">
    <% dire_fates.joins(:def_dire_fate).where(def_dire_fates: {peril: 3}).order(:id).each do |df| %>
      <%= render df %>
    <% end %>
  </div>
<% end %>
