<div class="narrow">
  <h1>
    Edit
  </h1>
  <div>
    <%= link_to "Setting", [:setting_symbol, @character], class: @character.setting ? "slide under complete" : "slide under" %>
  </div>
  <div>
    <% if @character.name? %>
      <%= link_to "Name: #{@character.name}", [:name, :edit, @character], class: "slide under complete" %>
    <% else %>
      <%= link_to "Name", [:name, :edit, @character], class: "slide under" %>
    <% end %>
  </div>
  <div>
    <% if @character.looks.count > 0 %>
      <% result = "" %>
      <% @character.looks.order(:def_look_id).each do |l| %>
        <% result += " • #{l.def_look.look}" %>
      <% end %>
      <% link = result[3..-1] %>
      <%= link_to "Look: #{link}", [:look, :edit, @character], class: "slide under complete" %>
    <% else %>
      <%= link_to "Look", [:look, :edit, @character], class: "slide under" %>
    <% end %>
  </div>
  <% if @character.name? &&
        @character.def_looks.count > 0 &&
        @character.relationships.count > 0 &&
        @character.fates.count > 0 &&
        (@character.archetype != Archetype.find_by(name: "Scoundrel") || @character.tools.count > 0) &&
        (!@character.gift.nil? && !@character.gift.gift_type.nil?) &&
        @character.moves.count > 0 && %>
    <div>test</div>
  <% end %>
</div>
