<div class="centered losses" id="losses">
	<div class="centered">
		<h3>Losses</h3>
		<p><em>I have lost...</em></p>
		<div class="well well-sm">
			<% @character.losses.split("\n").each do |text| %>
				<p><%= text %></p>
			<% end %>
		</div>
		<p><em>but I still have...</em></p>
	</div>
	<%= render partial: "loss", locals: {loss: "pride", lost: @character.pride, active: (logged_in? && @character.owned_by?(current_user))} %>
	<%= render partial: "loss", locals: {loss: "health", lost: @character.health, active: (logged_in? && @character.owned_by?(current_user))} %>
	<%= render partial: "loss", locals: {loss: "strength", lost: @character.strength, active: (logged_in? && @character.owned_by?(current_user))} %>
	<%= render partial: "loss", locals: {loss: "hope", lost: @character.hope, active: (logged_in? && @character.owned_by?(current_user))} %>
	<%= render partial: "loss", locals: {loss: "life", lost: @character.life, active: (logged_in? && @character.owned_by?(current_user))} %>
</div>