<div class="centered losses" id="losses-panel">
	<div class="centered">
		<h3>Losses</h3>
		<p><em>I have lost...</em></p>
		<%= render partial: "well", locals: {name: "losses", field: @character.losses} %>
		<p><em>but I still have...</em></p>
	</div>
	<%= render partial: "loss", locals: {loss: "pride", lost: @character.pride} %>
	<%= render partial: "loss", locals: {loss: "health", lost: @character.health} %>
	<%= render partial: "loss", locals: {loss: "strength", lost: @character.strength} %>
	<%= render partial: "loss", locals: {loss: "hope", lost: @character.hope} %>
	<%= render partial: "loss", locals: {loss: "life", lost: @character.life} %>
</div>