<div id="sheet">
  <div class="row">
    <div class="outer-panel col-sm-12 col-md-5 col-lg-6 col-xl-5">
      <div class="panel col-sm-5 col-md-12 col-lg-5 col-xl-5">
        <%= render partial: "name", locals: {name: @character.name} %>
        <%= render partial: "archetype", locals: {archetype: @character.archetype.name} %>
        <%= render partial: "look", locals: {looks: @character.looks} %>
        <%= render partial: "stats", locals: {
          brave: @character.brave,
          fierce: @character.fierce,
          wary: @character.wary,
          clever: @character.clever,
          strange: @character.strange,
        } %>
        <%= render partial: "trust", locals: {relationships: @character.relationships} %>
        <%= render partial: "spirit", locals: {spirit: @character.spirit} %>
      </div>
      <div class="panel col-sm-7 col-md-12 col-lg-7 col-xl-7">
        <%= render partial: "dire_fates", locals: {dire_fates: @character.dire_fates} %>
      </div>
    </div>
    <div class="outer-panel col-sm-12 col-md-7 col-lg-6 col-xl-7">
      <div class="panel col-sm-12 col-md-12, col-lg-12, col-xl-6">
        <%= render partial: "moves", locals: {moves: @character.moves} %>
      </div>
      <div class="panel col-sm-12 col-md-12, col-lg-12, col-xl-6">
        <%= render partial: "fates", locals: {fates: @character.fates} %>
        <%= render partial: "gift", locals: {gift: @character.gift} %>
        <%= render partial: "vows", locals: {vows: @character.vows} %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <br>
    <%= link_to "Edit Character", edit_character_path(@character), class: "slide under" %>
  </div>
</div>
