<div>
  Stats
</div>
<div>
  Brave:
  <% amount = brave.abs.to_s %>
  <% if brave >= 0 %>
    <%= "+" + amount %>
  <% else %>
    <%= "−" + amount %>
  <% end %>
</div>
<div>
  Fierce:
  <% amount = fierce.abs.to_s %>
  <% if fierce >= 0 %>
    <%= "+" + amount %>
  <% else %>
    <%= "−" + amount %>
  <% end %>
</div>
<div>
  Wary:
  <% amount = wary.abs.to_s %>
  <% if wary >= 0 %>
    <%= "+" + amount %>
  <% else %>
    <%= "−" + amount %>
  <% end %>
</div>
<div>
  Clever:
  <% amount = clever.abs.to_s %>
  <% if clever >= 0 %>
    <%= "+" + amount %>
  <% else %>
    <%= "−" + amount %>
  <% end %>
</div>
<div>
  Strange:
  <% amount = strange.abs.to_s %>
  <% if strange >= 0 %>
    <%= "+" + amount %>
  <% else %>
    <%= "−" + amount %>
  <% end %>
</div>
