<div class="stat">
  <span class="stat-name <%= name %>">
    <%=name.capitalize%>
  </span>
  <span class="value <%= name %>">
    <% amount = value.abs.to_s %>
    <% if value >= 0 %>
      <%= "+" + amount %>
    <% else %>
      <%= "−" + amount %>
    <% end %>
  </span>
</div>
