<div>
  Stats
</div>
<%= render partial: "stat", locals: {name: "brave", value: brave} %>
<%= render partial: "stat", locals: {name: "fierce", value: fierce} %>
<%= render partial: "stat", locals: {name: "wary", value: wary} %>
<%= render partial: "stat", locals: {name: "clever", value: clever} %>
<%= render partial: "stat", locals: {name: "strange", value: strange} %>
