<div class="row row-centered">
	<%= render partial: "stat", locals: { stat: "brave", value: @character.brave } %>
	<%= render partial: "stat", locals: { stat: "fierce", value: @character.fierce } %>
	<%= render partial: "stat", locals: { stat: "wary", value: @character.wary } %>
	<%= render partial: "stat", locals: { stat: "clever", value: @character.clever } %>
	<%= render partial: "stat", locals: { stat: "strange", value: @character.strange } %>

	<%= render partial: "experience" %>
</div>