<%= form_for @character, remote: true, html: {id: "new-character-form"} do |f| %>
  <div>
    <%  Archetype.all.each do |a| %>
      <%= f.radio_button :archetype_id, a.id, {class: "new-character-form-radio", id: "new-character-form-#{a.name.downcase}"} %>
      <%= f.label(:archetype_name, a.name) %>
    <%  end %>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div id="submit-button">
    <%= f.submit "Create", {id: "new-character-form-submit"}%>
  </div>
<% end %>
