<%  Character.all.each do |c| %>
  <div>
    <%  if c.name %>
      <%  link = c.name + ' the ' + c.archetype.name %>
    <%  else %>
      <%  link = 'The ' + c.archetype.name %>
    <%  end %>
    <%= link_to link, c %>
  </div>
<%  end %>
<%= form_for @character do |f| %>
  <%  Archetype.all.each do |a| %>
    <%= f.radio_button(:archetype_id, a.id) %>
    <%= f.label(:archetype_name, a.name) %>
  <%  end %>
  <%= f.submit "Create" %>
<% end %>
