<div>Take turns with the others building the world.</div>
<div>
    On your turn, describe an evocative symbol of <span id="symbol">
    <%=@character.archetype.setting_symbol%></span>
</div>
<div id="examples">(<%=@character.archetype.setting_symbol_example1%>,<%=@character.archetype.setting_symbol_example2%>,<%=@character.archetype.setting_symbol_example3%>)
</div>
<div>
  <%= link_to 'Continue', [:setting_other, @character] %>
</div>
