<div>
  On your next turn, describe <%=@character.archetype.setting_other%>
</div>
<div id="examples">
  (<%=@character.archetype.setting_other_example1%>, <%=@character.archetype.setting_other_example2%>, <%=@character.archetype.setting_other_example3%>)
</div>
<div>
  <%= link_to 'Continue', @character, class: "slide under" %>
</div>
