<div id="setting" class="narrow">
  <h1>
    Setting
  </h1>
  <p>Take turns with the others building the world.</p>
  <p>
      On your first turn, describe an evocative symbol of <span id="symbol">
      <%=@character.archetype.setting_symbol%></span>
  </p>
  <p id="examples">
    <%=@character.archetype.setting_symbol_example1%>, <%=@character.archetype.setting_symbol_example2%>, <%=@character.archetype.setting_symbol_example3%>
  </p>
  <p>
    <%= link_to 'Continue', [:setting_other, @character], class: "slide under" %>
  </p>
</div>
