<% provide(:title, @character.name) %>
<div class="row">
	<h1><%=@character.name%></h1>
	<h2>The <%=@character.archetype%></h2>
</div>
<div class="row row-centered">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-centered panel center" id="stats">
		<div class="container-fluid">
			<%= render partial: "stats" %>
			<%= render partial: "losses" %>
			<%= render partial: "posessions" %>
	    </div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-centered panel center">
		<div class="container-fluid" id="archetype">
		    <%= render partial: "archetype_feature" %>
	    </div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 col-centered panel center">
		<div class="container-fluid" id="moves">
			<%= render partial: "moves" %>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 col-centered panel center">
		<div class="container-fluid" id="other-stats">
			<div class="row">
				<%= render partial: "fates" %>
			</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 col-centered center">
					<%= render partial: "notes" %>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 col-centered center">
					<%= render partial: "look" %>
				</div>
			</div>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
	</div>
</div>
<div class="row">
</div>